.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
}

.cardTitle {
    font-size: medium;
    font-weight: bold;
    color: black;
}

.articleTitleHead {
    line-height: normal;
    padding: 10px;
}

.authorHead {
    font-size: medium;
    font-weight: bold;

}

.articleBody {
    margin-right: auto;
    margin-left: auto;
    max-width: 1960px;
    padding-right: 10px;
    padding-left: 10px;
}

.articleBodyHead {
    font-size: medium;
    font-weight: bold;

}

.addBlog {
    font-size: medium;
    font-weight: bold;
    color: blue;
}